attrs==24.3.0
cattrs==24.1.2
certifi==2024.12.14
charset-normalizer==3.4.1
exceptiongroup==1.2.2
idna==3.10
pkg_resources==0.0.0
platformdirs==4.3.6
py-radix==0.10.0
requests==2.32.3
requests-cache==1.2.1
requests-futures==1.0.2
six==1.17.0
typing_extensions==4.12.2
url-normalize==1.4.3
urllib3==2.2.3
